{:paths ["src/core"]
 :deps
 {
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    }}


  :test-runner
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs ["test"]}}


  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.7" :git/sha "1474ad6"}
                user.java.time/user.java.time {:mvn/version "2020.267.10158"}}
   :ns-default build.package}


  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src/core"] :test-paths ["src/test"]}]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.1"}
    }}}}
