{:paths ["src/core"]
 :deps
 {
  }
 :aliases
 {
  :provided
  {:extra-deps
   {
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]}


  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
   :main-opts  ["-m" "cljs-test-runner.main" "-d" "src/test"]}


  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "eastwood.lint" {:source-paths ["src/core"] :test-paths ["src/test"]}]}


  :1.9
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.9.0"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.1"}
    }}}}
